body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}

.buttoncontainer {

    display: flex;
    justify-content: center;  
    align-items: center;  

}

button {

    border-radius: 90px;
}