body {
    background-color: #000000;
    font-family: Arial, sans-serif;

}

h1 {
    color: #FFFFFF;
    text-align: center;
}

.buttons {

    display: flex;
    justify-content: center;  
    align-items: center;  
    padding: 20px;

}

button {

    border-radius: 90px;
}